<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-class>controller.GetData</servlet-class>
    <servlet-name>getdata</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>getdata</servlet-name>
    <url-pattern>/getdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-class>controller.GetXmlData</servlet-class>
    <servlet-name>getxmldata</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>getxmldata</servlet-name>
    <url-pattern>/getxmldata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-class>controller.FromDb</servlet-class>
    <servlet-name>fromdb</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>fromdb</servlet-name>
    <url-pattern>/fromdb</url-pattern>
  </servlet-mapping>
</web-app>
